<div id="footer">
    <div class="container">
        <div class="row">
            <div class="col-3">
                About
            </div>
            <div class="col-3">
                Articles
            </div>
            <div class="col-3">
                Code Review
            </div>
            <div class="col-3">
                <img src="assets/images/DWWM.png" width="70" height="30" alt="DWWM">
            </div>
        </div>
        <div class="row thanks">
            <div class="col-12">
                <p>&copy; Dedalus, Manon, Malik, Asugi, formation DWWM 2020</p>
            </div>
        </div>
    </div>
</div>