<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="collapsingNavbar">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="index.html">Accueil</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="articles.html" id="navbardropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Articles</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <!-- boucle qui prend dans data les articles -->
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="code_review.html" id="navbardropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Code Review</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <!-- boucle qui prend dans data les articles -->
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="about.html">About</a>
            </li> 

            
        </ul>
    </div>
</nav>