<nav class="navbar navbar-expand-lg navbar-custom">
    <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse justify-content-between" id="collapsingNavbar">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/">
                    <img class="logoDWWM" src="/assets/images/DWWM.png" width="90">
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle nav-link-spacewords" href="articles.html" id="navbardropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Articles</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                    <!-- boucle qui prend dans data les articles -->
                    {% for item in site.data.categories %}
                        <a class="dropdown-item" href="{{ '/categories/' | append: item.key | append: '.html' | relative_url }}">{{item.name}}</a> 
                    {% endfor %}
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle nav-link-spacewords" href="code_review.html" id="navbardropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Revue de Code</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <!-- boucle qui prend dans data les articles -->
                    {% for item in site.data.categories %}
                        <a class="dropdown-item" href="{{ '/categoriesCR/' | append: item.key | append: '.html' | relative_url }}">{{item.name}}</a> 
                    {% endfor %}
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-link-spacewords" href="{{ 'about.html' | relative_url }}">À propos</a>
            </li> 

            
        </ul>

        <nav class="navbar ">
            <form class="form-inline" action="/search.html" method="get">
              <input class="form-control mr-sm-2" type="search" name="search" placeholder="rechercher" aria-label="Search">
                 <button class="btn btn-outline-success" type="submit">
              <img class="img-fluid" src="/assets/images/loupe.svg"  alt="loupe logo"></button>
            </form>
          </nav>

         

    </div>
</nav>