.footer-bg {
    background-color: #353130;;
    margin-top: auto;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
}
.thanks {
    text-align: center;
    margin-top: 15px;
}
.img-logo {
    margin: 3px;
}