@font-face { 
	font-family: 'Robotofont';
    src: url('/assets/font/RobotoCondensed-Light-webfont.woff') format('woff');
}
@font-face {
    font-family: 'HelveticaNeuefont';
    src: url('/assets/font/HelveticaNeue-Light.otf') format('opentype');
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.carousel-perso, h1 {
    text-align: center;
    margin-top: 50px;
}
.carousel-img-perso {
    align-content: center;
    height: 50%
}
.carousel-control-prev-icon {
    background-image: url(/assets/images/arrow.png);
    height: 50px;
    width: 50px;
}
.carousel-control-next-icon {
    background-image: url(/assets/images/right-arrow.png);
    height: 50px;
    width: 50px;
}
.carousel-img-perso {
    max-width: 300px;
    max-height: 200px;
}

h1, h2, h3 {
    font-family: 'Robotofont';
}

p{
    font-family: 'HelveticaNeuefont';
    letter-spacing: 0.1em;
    margin-bottom: 2px;
}

.text-left{
    margin-bottom: 80px;
    margin-top: 30px;
}
.active {
    color: pink;
}
a{
    color:rgb(27, 171, 255);
    &:hover {
        color: rgb(255, 96, 123);
        text-decoration: none;
    
    }
}

.col-12-postlist-alternative{
margin-top: 15px;
}
.tag {
    text-align: right;
}