.navbar-custom .navbar-nav .nav-link {
    color: white;
    margin-right: 20px;
}
.navbar-custom{
background-color: #353130;
}
.logoDWWM{
    margin-bottom: 10px;
    margin-right: 10px;
    margin-right: 20px;
}

.nav-link-spacewords {
    margin-top:10px;
}
.dropdown-menu.show{
    background-color:black;
}
.dropdown-item{
    color: white;
}
/* Change color of dropdown links on hover */
.dropdown-menu :hover {
    background-color:  #353130;
    color: white;
}

.navbar-toggler-icon{
    background-image: url(/assets/images/menu-icon.png);
    width: 70px;
    height: 70px;
}
.navbar-toggler-custom-toggler{
    width: 20px;
}