.ul-custom{
    list-style-type: none;
}
.postlist{
    // display: flex;
    border: solid #353130 2px;
    border-radius: 15px;
    margin-bottom:5px;
    width: 1000px ;
    background-image:linear-gradient(rgb(61, 82, 88), white);
    box-shadow:10px 20px 40px;
    min-height: 150px;
    width: 1000px;
    margin:0 auto;
    p{
        color: white;
    }
    h1{
        margin-right: 30px;
    }
}
.postlist.alternative {
    border: none;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
    padding: 16px;
    background: white;
    color: black;
    margin-bottom: 1em;
    overflow: hidden;

    &::before{
        content: "";
        position: absolute;
        width: 100%;
        height: 56px;
        display: block;
        background: #3d5258;
        margin: -16px;
        background-image: linear-gradient(90deg, #3d5258, #61777d);
    }

    h2{
        position: relative;
    }

    p{
        color: #333;
    }
}

.col.postlist{
    margin-bottom: 30px;
}
.url-title{
    color:rgb(192, 210, 214);
    &:hover{
        color: rgb(2, 49, 63);
    }
}
