.ul-custom{
    list-style-type: none;
}

.postlist{
    border: solid #353130 2px;
    border-radius: 15px;
    margin-bottom:5px;
    width: 1000px ;
    background-image:linear-gradient(grey, rgb(61, 82, 88), white);
    box-shadow:10px 20px 40px;
    height: 150px;
    width: 1000px;
}

.col.postlist{
    margin-bottom: 30px;
}
.url-title{
    color: white;
  
    &:hover{
        color: white;
    }
}

p{
    color: white;
}

h1{
    margin-right: 30px;
}